<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--标准书写-->
    <!--    <bean id="bookDao" class="com.example.ssmstudy.dao.impl.BookDaoImpl">-->
    <!--       <constructor-arg name="databaseName" value="mysql"/>-->
    <!--       <constructor-arg name="connectNum" value="123"/>-->
    <!--    </bean>-->

    <!--    <bean id="userDao" class="com.example.ssmstudy.dao.impl.UserDaoImpl"/>-->


    <!--    <bean id="bookService" class="com.example.ssmstudy.service.impl.BookServiceImpl">-->
    <!--        <property name="bookDao" ref="bookDao"/>-->
    <!--        <property name="userDao" ref="userDao"/>-->
    <!--        <constructor-arg name="bookDao" ref="bookDao"/>-->
    <!--        <constructor-arg name="userDao" ref="userDao"/>-->
    <!--    </bean>-->

<!--
    1.解决形参耦合
    <bean id="bookDao" class="com.example.ssmstudy.dao.impl.BookDaoImpl">
        <constructor-arg type="int" value="123"/>
        <constructor-arg type="java.lang.String" value="mysql"/>
    </bean>

    <bean id="userDao" class="com.example.ssmstudy.dao.impl.UserDaoImpl"/>


    <bean id="bookService" class="com.example.ssmstudy.service.impl.BookServiceImpl">
        <property name="bookDao" ref="bookDao"/>
        <property name="userDao" ref="userDao"/>
        <constructor-arg name="bookDao" ref="bookDao"/>
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>-->

<!--
    解决参数类型重复的问题,使用位置解决参数匹配
    <bean id="bookDao" class="com.example.ssmstudy.dao.impl.BookDaoImpl">
        <constructor-arg  value="123" index="0"/>
        <constructor-arg  value="mysql" index="1"/>
    </bean>

    <bean id="userDao" class="com.example.ssmstudy.dao.impl.UserDaoImpl"/>


    <bean id="bookService" class="com.example.ssmstudy.service.impl.BookServiceImpl">
        <property name="bookDao" ref="bookDao"/>
        <property name="userDao" ref="userDao"/>
        <constructor-arg name="bookDao" ref="bookDao"/>
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>
-->

</beans>