<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--1.导入spring 的坐标spring-context-->

    <!--2. 配置bean-->
    <!--bean标签标示配置bean
    id属性名字表示给bean起名字
    class属性表示给bean定义类型
    -->

    <!--方式一 ： 构造方法实例化bean-->
    <bean id="bookDao" name="dao" class="com.example.ssmstudy.dao.impl.BookDaoImpl" scope="prototype"/>
    <bean id="bookService" name="service4" class="com.example.ssmstudy.service.impl.BookServiceImpl" scope="prototype">
        <!--7. 配置server 与dao的关系-->
        <!--property标签表示配置当前bean的属性
        name属性表示配置那一个具体的属性
        ref属性表示参照那一个bean
        -->
        <property name="bookDao" ref="bookDao"/>
    </bean>


    <!--方式二：工厂构造-->
    <bean id="orderDao" class="com.example.ssmstudy.factory.OrderDaoFactory" factory-method="getOrderDao"/>

    <!--方式三： 使用实例工厂实例化bean-->
<!--    <bean id="userFactory" class="com.example.ssmstudy.factory.UserDaoFactory"/>-->

<!--    <bean id="userDao" factory-bean="userFactory" factory-method="getBookDao"/>-->

    <!--方式4：使用 factory-method 实例bean-->
    <bean id="userDao" class="com.example.ssmstudy.factory.UserDaoFactoryBean"/>
</beans>