<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="bookDao" class="com.example.ssmstudy.dao.impl.BookDaoImpl">
        <property name="array">
            <array>
                <value>100</value>
                <value>200</value>
                <value>300</value>
                <value>400</value>
                <value>500</value>
            </array>
        </property>

        <property name="list">
            <list>
                <value>it</value>
                <value>it1</value>
                <value>it2</value>
                <value>it3</value>
                <value>it4</value>
                <value>it5</value>
            </list>
        </property>

        <property name="set">
            <set>
                <value>it</value>
                <value>it</value>
                <value>it22</value>
                <value>it3</value>
            </set>
        </property>

        <property name="map">
            <map>
                <entry key="country" value="1"/>
                <entry key="province" value="2"/>
                <entry key="city" value="3"/>
            </map>
        </property>
        
        <property name="properties">
            <props>
                <prop key="country">china</prop>
                <prop key="province">河南</prop>
                <prop key="city">开封</prop>
            </props>
        </property>
    </bean>

    <bean name="bookService" class="com.example.ssmstudy.service.impl.BookServiceImpl" autowire="byType"/>
</beans>